
/* general */

* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

* i{
   padding:0px;
   margin:4px;
}

/* general */

/* utilities */

.float-left{
    float:left
}

.float-right{
    float:right
}

.text-align{
    text-align: center;
}

.padding{
    padding: 25px;
}

.margin-scrollbar{
    margin-right:20px;
}

.margin-top5{
    margin-top:5%;
}

.margin-top10{
    margin-top:10%;
}

.margin-top15{
    margin-top:15%;
}

.margin-top20{
    margin-top:20%;
}

.margin-top30{
    margin-top:30%;
}

.inline{
    display: inline-block;
}

.margintop{
    margin-top: 100px;
}

.bg-jumbo{
    background-color: cornflowerblue;;    
}

.bg-textsquare{
    background-color:lightgrey ;    
}

.bg-clfooter{
    background-color:#23272a ;    
}

.container{
    width:1200px;
    margin: 0px auto;  
}

/* utilities */

/* content widht */

.w-8{
    width: 8%;
}

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-35{
    width: 35%;
}

.w-40{
    width: 40%;
}

.w-45{
    width: 45%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-100{
    width: 100%;
}

.w-designbox{
    width: 38%;
}

/* content widht */

/* Title and P sizes and weight */

h2{
    font-size: 35px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 15px;
    font-weight: bold;
}

h6{
    width: 100%;
    border-bottom: 0.5px solid black;
    text-align: center;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 15px;
}

* p{
	font-size: 13px;
    font-weight: 700;
}

* a{
	font-size: 13px;
    font-weight: 700;
}

/* Title sizes and weight */

/* content button */

.labelbtn{
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}

.labelbtnwh{
    border:1px solid black;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

.labelbtnblue{
    background-color: blue;
    color:white;
}

.labelbtn:hover {
    opacity: 0.7;
}

/* content button */

/* Header nav bar*/

.header{
    width: 100%;
    position: fixed;
    height: 80px;
    line-height: 80px;
    z-index: 500;
    background-color: white;
}

.header img{
    padding-left: 10px;
    margin-right: 15px;
    vertical-align: middle;
    width: 120px;
}

ul{
list-style-type: none;
}

nav {
text-align: right;
float: left;
vertical-align: middle;
}

nav ul li {
vertical-align: middle;
display: inline-block;
}

nav ul li a {
margin: 10px 10px;
text-decoration: none;
color: lightslategrey;
}

header li:hover:not(.no-border) {
border-bottom: 1px solid blue;
}

/*Header nav bar */

/*Main*/

/*Jumbohead*/

.containerjumb {
    width: 1400px;
    margin: 0px auto;
    padding-top: 80px;
    height:770px;
    }

 .containerjumb h1{
    padding: 50px 0px;
    text-align: left;
    font-weight: bold;
    font-size: 70px;
}

.containerjumb p{
    padding-bottom: 30px;
    text-align: left;
}

.containerjumb .p1{
    padding-top: 10px;
    font-size: small;
    
}

.containerjumb span i{
    font-weight: bold;
    font-size: 40px;
    
}   
 .jumboimg{
    width: 850px;
    z-index: 10;
}

/* Jumbohead*/

/* Section one: column subscription*/

section.subscription{
    padding-top: 180px;
}

.headercol{
    width: 100%;
}

section div.headercol h2{
    padding:50px 0px;
    font-size:35px
}

section div.headercol h2{
    padding:50px 0px;
}

section.subscription span{
    padding: 0px 30px 30px 0px;
}

.bordercolumn{
    border: 0.5px solid black;
    
}

.subcolumn{
    margin-top: 30px;
    text-align: left;
    padding-bottom: 120px;   
    min-height: 800px;
}

.subcolumncentr{
    margin: 30px 50px 75px;   
}

.subcolumn :not(h6 ,h4, h5){
    font-size:small;
    font-weight: 600;
}

.subcolumn  div:not(.coltop){
    padding-top: 35px;
    padding-left:25px;
    padding-right:25px;
}

.subcolumn div ul li{
    text-align: left;
    padding-top: 15px;
}

.check li i{
    
    color:blue;
}

.undercol{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    padding-bottom: 30px;
}

.undercol h5{
    padding-left: 26px;
}

.undercol p{
    padding-left: 26px;
    padding-top: 25px;
}

.partner img{
    height: 560px;
}

.partner h4{
    margin-top: 20px;
    font-size: 25px;
}

.partner p {
    margin-top: 20px; 
    line-height: 25px;
}

.partner a{
    display: inline-block;
    margin-top: 20px; 
}

/* Section one: column subscription*/
/* Section two: cards*/

.card{
    margin-top: 90px;
    position: relative;
}

.centrcard{
    margin-left: 60px;
    margin-right: 60px;
}

.card img{
    width: auto;
    top: 0%;
    left: 0%;
    height: 291px;
}

.card h4{
    margin-top: 15px; 
    font-size: 25px;
}

.card p{
    margin-top: 15px; 
    line-height: 20px;
}

/* Section two: cards*/

/* Section three: team members*/

.colsquareboxleft {
    margin-left: 0px;
    margin-right: 0px;
}

.colcentr {
    margin-left: 0px;
    margin-right: 0px;  
    padding: 50px;
}

.colcentr p{
    padding-top: 90px;
}

.colcentr h5{
    padding-top: 50px;
}

.colsquareboxright{
    margin-left: 8px;
    margin-right: 0px;
}

  .square{
    position: relative;
    float: left;
    width: 50%;
    display: block;
    padding-top: 50%;
    margin: 0;
  }

  .square:active{
    outline: 10px solid rgba(255, 255, 255, 0.5);
    outline-offset: -10px;
    }

  .square img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
  }

.iconlogo1{
    height: 55px; 
}

.iconlogo2{
    height: 100px;   
}

.iconlogo3{
    height: 40px;   
}

.iconlogo4{
    height: 75px;   
}

.iconlogo5{
    height: 35px;   
}

.ico img:not(.logocentr){
    filter: invert(100%);
}

  .sq1{
    background-color: #a2d39b ;
  }

  .sq2{
    background-color: #61082b ;
  }

  .sq3{
    background-color: #0093ce ;
  }

  .sq4{
    background-color: #ff1c1c ;
  }

  .sq5{
    background-color: #d5001f;
  }

  .sq6{
    background-color: #b4d0e7 ;
  }

  .sq7{
    background-color: #0d2481 ;
  }

  .sq8{
    background-color: #ffd830 ;
  }

  .undersquare{
    padding: 100px 0px 100px 230px;
  }

  .undersquare div{
    padding-left: 145px;
    border: none;
  }

/* Section three: team members*/








